{% extends 'base.html' %}
{% block content %}
<h2>Bem-vindo, Professor {{ usuario.nome }}</h2>
<h3>📘 Recomendar Livro</h3>
<div class="card">
<form method="post" action="/recomendar">
    <input type="text" name="titulo" placeholder="Título" required>
    <input type="text" name="autor" placeholder="Autor" required>
    <input type="text" name="link" placeholder="Link" required>
    <input type="text" name="capa" placeholder="URL da Capa">
    <input type="text" name="serie" placeholder="Série" required>
    <button type="submit" class="btn">Recomendar</button>
</form>
</div>
{% endblock %}